---
- name: Check if node is already part of a swarm
  ansible.builtin.command: docker info --format '{{ "{{.Swarm.LocalNodeState}}" }}'
  register: swarm_manager_state_cmd
  changed_when: false

- name: Set swarm_state fact
  set_fact:
    swarm_manager_state: "{{ swarm_manager_state_cmd.stdout | default('inactive') }}"

- name: Initialize Docker Swarm if not already active
  ansible.builtin.command: docker swarm init --advertise-addr {{ swarm_manager_ip }}
  register: swarm_manager_init
  changed_when: "'Swarm initialized' in swarm_manager_init.stdout"
  failed_when: false
  when: swarm_manager_state != "active"

- name: Get join token for workers
  ansible.builtin.command: docker swarm join-token worker -q
  register: swarm_manager_worker_token_cmd
  changed_when: false
  when: swarm_manager_state != "active" or (swarm_manager_init is defined and swarm_manager_init.stdout is defined and 'Swarm initialized' in swarm_manager_init.stdout)

- name: Save worker join token
  set_fact:
    swarm_manager_worker_token: "{{ swarm_manager_worker_token_cmd.stdout | default('') }}"
