services:
  postgres:
    image: postgres:15
    container_name: jeux_video_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: jeux_video_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    networks:
      - app_network

  php-apache:
    build: .
    container_name: jeux_video_app
    ports:
      - "8080:80"
    depends_on:
      - postgres
    networks:
      - app_network
    restart: on-failure

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge