- name: Installer les paquets nécessaires
  apt:
    name:
      - openvpn
      - stunnel4
    state: present
    update_cache: yes

- name: Créer dossier OpenVPN
  file:
    path: "{{ openvpn_conf_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Générer configuration stunnel minimale
  template:
    src: stunnel.conf.j2
    dest: "{{ stunnel_conf_dir }}/stunnel.conf"
    owner: root
    group: root
    mode: "0600"
  notify: restart stunnel

- name: Activer stunnel en mode client
  lineinfile:
    path: /etc/default/stunnel4
    regexp: '^ENABLED='
    line: 'ENABLED=1'
  notify: restart stunnel

- name: Copier le fichier .ovpn
  copy:
    src: client.ovpn
    dest: "{{ openvpn_conf_dir }}/client.ovpn"
    owner: root
    group: root
    mode: "0600"
  notify: restart openvpn

- name: Lancer OpenVPN avec le .ovpn
  command: openvpn --config {{ openvpn_conf_dir }}/client.ovpn --daemon
