- name: Mise à jour des paquets
  ansible.builtin.apt:
    update_cache: true
  tags:
    - update

- name: Installer ufw
  ansible.builtin.apt:
    name:
      - ufw
    state: present
    update_cache: true
  tags:
    - install

- name: Autoriser les ports nécessaires
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ common_firewall_port }}"
  tags:
    - firewall

- name: Activer UFW
  community.general.ufw:
    state: enabled
    policy: deny
  tags:
    - firewall
